{% extends 'base.html' %}
{% load poll_extras %}

{% block main %}
    <div class="col-10 d-flex flex-column">
        <div class="card ">
            <h4 class="card-header">{{ object.title }}</h4>
            <div class="card-body">
                <small>{{object.date}}</small>
                <p class="card-text">{{object.blogpost}}</p>
            </div>
        </div>
        <div class="btn-group d-flex flex-row" role="group" aria-label="Basic example">
            <a href="/blog/{{ object.pk | add_minus }}" class="text-white btn btn-secondary">Предыдущая статья</a>
            <a href="/blog/{{ object.pk | add_plus }}" class="text-white btn btn-secondary">Следующая статья</a>
        </div>
    </div>

{% endblock %}